:root {
  --nav-bg: rgb(0, 84, 164); /* Azul oscuro */
  --nav-text: #fff;
  --nav-hover: #4f9dfc;
  --wompi-bg: #00b4d8;
  --wompi-text: #fff;
}

/* * {
  border: 1px solid red;
} */

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

