---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Cards from "../components/Cards.astro"
import Section from "../components/Section.astro";
import Modulos from "../components/Modulos.astro";
import Clientes from "../components/Clientes.astro";
import Contacto from "../components/Contacto.astro";
import Footer from "../components/Footer.astro";

---

<Layout title="Inicio - Lázaro Software">
  <section id="inicio">
    <Hero />
  </section>

  <section id="cards">
    <Cards />
  </section>

  <section id="nosotros">
    <Section />
  </section>

  <section id="modulos">
    <Modulos />
  </section>

  <section id="clientes">
    <Clientes />
  </section>

  <section id="contacto">
    <Contacto />
  </section>

  <section id="footer">
    <Footer />
  </section>
</Layout>