<section class="section">
  <h1><em>Soluciones inteligentes</em></h1>
  <p>
    Nuestras soluciones son robustas, intuitivas y muy funcionales desarrolladas con
    herramientas de última tecnología lo que permite estar en línea a través de cualquier
    dispositivo con una simple conexión a Internet, y están dirigidas básicamente a áreas
    que definen nuestro ámbito de actuación.
  </p>
  <div class="underline"></div>
</section>

<style>
.section {
  text-align: center;
  padding-bottom: 30px;
  max-width: 900px;
  margin: 0 auto;
}

.section h1 {
    font-size: 3rem;
  color: #003296;
  margin-bottom: 1.5rem;
}

.section p {
  font-size: 1.1rem;
  line-height: 1.6;
  font-weight: 500;
  color: #222;
  margin-bottom: 2rem;
}

/* Línea azul  */
.underline {
  width: 80%;
  max-width: 500px;
  height: 4px;
  background-color: #00aaff;
  margin: 0 auto;
  border-radius: 2px;
  animation: expand 2s ease forwards;
}

@keyframes expand {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}
</style>
