---
import Nav from "../components/Nav.astro";

const { title = "Lázaro Software" } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <body>
    <!-- Menú de navegación -->
    <Nav />

    <!-- Contenido de cada página -->
    <main>
      <slot />
    </main>
  </body>
</html>
